<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>The One App</title>
    <link href="{{ asset 'oneapp.css' }}" rel="stylesheet" />
    <script src="{{ asset 'oneapp.js' }}" defer></script>
    <meta name="description" content="The One App" />
    <meta name="author" content="Simone Spaccarotella - spa.simone@gmail.com" />
  </head>
  <body>
    <h1>Hello</h1>
  </body>
</html>