<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>The One App</title>
  <link href="{{ asset 'oneapp.css' }}" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.6/umd/react.development.js"
    integrity="sha256-9H05eCUa5x4G28dytYBwoAXkR3XgPE3sCogyXhrINwo=" crossorigin="anonymous" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.6/umd/react-dom.development.js"
    integrity="sha256-I/ClrYyzlYEQkMUjqr7G3m/83znlycDCeI2xuBZsQx0=" crossorigin="anonymous" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@1.13.2/build/global/luxon.min.js"
    integrity="sha256-lIipgOMBKtQkzwyCnih3gD5mXVokgOH9xhQow6W2/lQ=" crossorigin="anonymous" defer></script>
  <script src="{{ asset 'oneapp.js' }}" defer></script>
  <meta name="description" content="The One App" />
  <meta name="author" content="Simone Spaccarotella - spa.simone@gmail.com" />
</head>

<body>
  <div id="react-body">{{{ reactBody }}}</div>
</body>

</html>
