<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>One App</title>
    {{> jsAssets }}
    <script>window.PRELOADED_STATE = {{{ preloadedState }}}</script>
    {{#each (assets) }}
      <script src="{{ this }}" defer></script>
    {{/each}}
  </head>
  <body><div id="react-body">{{{ reactBody }}}</div></body>
</html>
